[submodule "scm/crosstool-ng"]
	path = scm/crosstool-ng
	url = ssh://woodsts.org/opensource/crosstool-ng.git
[submodule "scm/linux"]
	path = scm/linux
	url = ssh://woodsts.org/opensource/linux-stable.git
[submodule "scm/buildroot"]
	path = scm/buildroot
	url = https://github.com/woodsts/buildroot.git
[submodule "scm/u-boot"]
	path = scm/u-boot
	url = https://github.com/woodsts/u-boot.git
